html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

@media (min-width: 426px) {
  .wrapper {
    display: grid;
    background-color: #eec4e5;
    height: 100vh;
  }

  .header {
    grid-row: 1/2;
    background-color: bisque;
    padding: 16px;
  }

  .nav-grid {
    display: grid;
  }

  .nav-logo {
    grid-column: 1/2;
  }

  .nav-list {
    grid-column: 2/3;
    display: flex;
    margin: 0;
    justify-content: space-around;
  }

  .hero {
    background-image: url("./images/fancy-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
  }

  .main-grid {
    display: grid;
    grid-row: 2/3;
    background-color: rgb(221, 245, 86);
    padding: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
  }

  .main-grid > div {
    text-align: center;
  }
  .hero,
  .footer {
    text-align: center;
  }

  .footer {
    padding: 16px;
    grid-row: 3/4;
  }
}

@media (min-width: 900px) {
}
