html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0 2%;
}

li {
  list-style: none;
}

@media (min-width: 426px) {
  .wrapper {
    display: grid;
    background-color: #eec4e5;
  }

  .header {
    grid-row: 1/3;
    background-color: bisque;
    padding: 16px;
  }

  /* .hero {
    background-image: url("./images/fancy-coffee.jpg");
    background-repeat: no-repeat;
  } */

  .nav-grid {
    display: grid;
    /* grid-template-columns: 1fr 2fr;
    gap: 2%; */
  }
  .nav-logo {
    grid-column: 1/2;
  }
  .nav-list {
    grid-column: 2/3;
    display: flex;
    margin: 0;
    justify-content: space-around;
  }

  .main-grid {
    display: grid;
    grid-row: 3/4;
    background-color: bisque;
    padding: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
  }

  .main-grid > div {
    text-align: center;
  }
  .hero,
  .footer {
    text-align: center;
  }

  .footer {
    padding: 16px;
    grid-row: 4/5;
  }
}

@media (min-width: 900px) {
}
